body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;

}

.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  color: white;
  padding: 1em;
  text-align: center;
  justify-content: space-around;
}

/* Agent IA button */
.generate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


/* Social media networks container   */
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  gap: 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  position: relative;
}

/* social networks Cards */
.socialContainer {
  width: 60px;
  height: 60px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 2rem;
}

/* X */
.containerThree:hover {
  background-color: #000;
  transition-duration: .3s;
}

/* telegram */
.containerFour:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

/* Spline */

.spline-zone {
  width: 100%;
  height: 700px;

}

.tittle-spline {
  position: absolute;
  top: 100px;
  left: 50px;

}

.background {

  position: absolute;
  top: 100px;
  left: 900px;
}


.card-container {
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.cards-spline {
  position: absolute;
  top: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-div {
  top: -700px;
  position: absolute;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right,
      transparent,
      #000 10% 90%,
      transparent);
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, rgb(255, 0, 212), rgb(0, 229, 255)) 1;
  margin-top: 300px;
}

.slider-container {
  position: relative;
  bottom: -25em;
  width: 100%;
  z-index: 1000;
  /* Asegúrate de que el slider esté por encima de otros elementos */
  margin-top: 20px;
  /* Ajusta el margen superior según sea necesario */
}

.img-slider {
  width: 130%;
}

.slider-div .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;

}

.slider-div .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 30s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((30s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
  align-content: center;
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}


@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*text container */
.text-container {
  position: absolute;
  top: 1800px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text-container h1 {
  font-size: 60px;
  background: linear-gradient(to right, rgb(255, 0, 212), rgb(0, 229, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
  font-family: "Audiowide", sans-serif;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-container h1 {
  font-size: 60px;
  background: linear-gradient(to right, rgb(255, 0, 212), rgb(0, 229, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
  font-family: "Audiowide", sans-serif;
  background-size: 200% 200%;
}

.text-container p {
  position: relative;
  color: white;
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
  text-align: justify;
  
}

/* cards code containers */

.code-container-cards {
  position: absolute; /* O 'fixed' si quieres que sea fijo al hacer scroll */
  top: 2500px; /* A 1200px de la parte superior */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar para centrar completamente en horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaciado entre los objetos */

}

.card-code-container-html, .card-code-container-css, .card-code-container-js {
 position: relative;
  width: 300px;
  height: 390px;
  margin: 0 auto;
  background-color: #24233b;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
  transition: 0.5s;

}


.card-code-container-html:hover, .card-code-container-css:hover, .card-code-container-js:hover {
 
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px black;
}

.top {

  display: flex;
  align-items: center;
  padding-left: 10px;
}

.circle {
 
  padding: 0 4px;
}

.circle2 {

  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.red {
  background-color:  rgb(73, 70, 92); ;
}

.yellow {
  background-color:  rgb(73, 70, 92); 
}

.green {
  background-color:  rgb(73, 70, 92); 
}

.header {
  margin: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

#title2 {
  color: white;
  padding-left: 50px;
  font-size: 15px;
}

.code-container {
  top: 0px;
  text-align: center;

}
#code {
  width: 270px;
  height: 300px;
  resize: none;
  background-color:#24233b;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}
#code:focus {
  outline: none !important;
}



/* input */
.input-container {
  position: absolute;
  top: 1700px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cssbuttons-io-button {
  background:linear-gradient(to right, rgb(255, 0, 212), rgb(0, 229, 255));
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


@media (min-width: 1366px) {
  .tittle-spline {
    left: 0px;
  } 
  .background {
    left: 700px;
  }
  .text-container h1 {
    font-size: 55px;
  }
  .cards-spline {
    top: 800px;
  }
  .code-container-cards {
    top: 2500px;
  }

  .text-container p {
    font-size: 19px;
  }

  .card-code-container-html, .card-code-container-css, .card-code-container-js {
    width: 290px;
    height: 370px;
  }

  #code {
    width: 260px;
    height: 280px;
  }
}

/* For screens that are 1440px wide or more */
@media (min-width: 1440px) {

  .text-container h1 {
    font-size: 60px;
  }

  .text-container p {
    font-size: 20px;
  }
  .cards-spline {
    top: 800px;
  }
  .input-container {
    top: 1600px;
  }

  .card-code-container-html, .card-code-container-css, .card-code-container-js {
    width: 270px;
    height: 390px;
  }

  #code {
    width: 250px;
    height: 300px;
  }

  .code-container-cards {
    top: 2700px;
  }
}
@media (min-width: 1535px) {

  .text-container h1 {
    font-size: 60px;
  }

  .text-container p {
    font-size: 20px;
  }
  .cards-spline {
    top: 890px;
  }
  .input-container {
    top: 1600px;
  }

  .card-code-container-html, .card-code-container-css, .card-code-container-js {
    width: 270px;
    height: 390px;
  }

  #code {
    width: 250px;
    height: 300px;
  }

  .code-container-cards {
    top: 2700px;
  }
}


@media (min-width: 1800px) {

  .tittle-spline {
  
    left: 50px;
  } 
  .background {
    left: 1000px;
  }


  .cards-spline {
    top: 800px;
  }

  .card-code-container-html, .card-code-container-css, .card-code-container-js {
    width: 300px;
    height: 390px;
  }

  #code {
    width: 270px;
    height: 300px;
  }

  .code-container-cards {
    top: 2600px;
  }
}

@media (min-width: 2560px) {
  

  .tittle-spline {

    left: 50px;
  } 
  .background {
    left: 1200px;
  }

  .cards-spline {
    top: 600px;
  }

  .card-code-container-html, .card-code-container-css, .card-code-container-js {
    width: 300px;
    height: 390px;
  }

  #code {
    width: 270px;
    height: 300px;
  }

  .code-container-cards {
    top: 2500px;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.animated-button:hover::after {
  box-shadow: none;
}
.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}


.animated-button {
  background: linear-gradient(to right, rgb(255, 0, 212), rgb(0, 229, 255));
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.4em;
  font-size: 24px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6, 4px 10px 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
  height: 4em;
  padding-right: 4em;
  cursor: pointer;
}

.animated-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2em;
  width: 2.8em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.animated-button:hover .icon {
  width: calc(100% - 0.6em);
}

.animated-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.animated-button:hover .icon svg {
  transform: translateX(0.1em);
}

.animated-button:active .icon {
  transform: scale(0.95);
}

.container-bg-enter {
  position: absolute;
  inset: -1em;
  --c: 7px;
  background-color: #000;
  background-image: radial-gradient(
      circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)
    ),
    radial-gradient(
      circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)
    ),
    radial-gradient(circle at 50% 50%, #f00, #f000 60%),
    radial-gradient(circle at 50% 50%, #ff0, #ff00 60%),
    radial-gradient(circle at 50% 50%, #0f0, #0f00 60%),
    radial-gradient(ellipse at 50% 50%, #00f, #00f0 60%);
  background-size:
    12px 20.7846097px,
    12px 20.7846097px,
    200% 200%,
    200% 200%,
    200% 200%,
    200% 20.7846097px;
  --p: 0px 0px, 6px 10.39230485px;
  background-position:
    var(--p),
    0% 0%,
    0% 0%,
    0% 0px;
  animation:
    wee 40s linear infinite,
    filt 6s linear infinite;
}

@keyframes filt {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes wee {
  0% {
    background-position:
      var(--p),
      800% 400%,
      1000% -400%,
      -1200% -600%,
      400% 41.5692194px;
  }
  to {
    background-position:
      var(--p),
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

